<?xml version="1.0" encoding="UTF-8"?>
<plist
    xmlns="http://www.opendicom.com/xsd/plist/devices.xsd"
    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.opendicom.com/xsd/plist/devices.xsd ./devices.xsd"
    
    version="1.0"
    >
    <dict>
        <key>1.2</key>
        <dict>
            <key>preferredstudyidentificator</key>
            <string id="preferredstudyidentificator">AccessionNumber</string>
            <key>custodiantitle</key>
            <string id="custodiantitle">custodian</string>
            <key>custodianoid</key>
            <string id="custodianoid">1</string>
            <key>custodianglobaluri</key>
            <string id="custodianglobaluri">custodianURI</string>
        </dict>
    </dict>
</plist>
