<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">-->
<plist version="1.0">
<dict>
		<key>PatientID</key>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>tag</key>
			<string>00100020</string>
			<key>vr</key>
			<string>LO</string>
		</dict>
		<key>IssuerOfPatientID</key>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>tag</key>
			<string>00100021</string>
			<key>vr</key>
			<string>LO</string>
		</dict>
		<key>PatientName</key>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>tag</key>
			<string>00100010</string>
			<key>vr</key>
			<string>PN</string>
		</dict>
		<key>PatientBirthDate</key>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>tag</key>
			<string>00100030</string>
			<key>vr</key>
			<string>DA</string>
		</dict>
		<key>PatientSex</key>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>tag</key>
			<string>00100040</string>
			<key>vr</key>
			<string>CS</string>
		</dict>
		<key>StudyDate</key>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>tag</key>
			<string>00080020</string>
			<key>vr</key>
			<string>DA</string>
		</dict>
		<key>ModalitiesInStudy</key>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>tag</key>
			<string>00080061</string>
			<key>vr</key>
			<string>CS</string>
		</dict>
		<key>StudyDescription</key>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>tag</key>
			<string>00081030</string>
			<key>vr</key>
			<string>LO</string>
		</dict>
		<key>StudyID</key>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>tag</key>
			<string>00200010</string>
			<key>vr</key>
			<string>SH</string>
		</dict>
		<key>StudyInstanceUID</key>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>tag</key>
			<string>0020000D</string>
			<key>vr</key>
			<string>UI</string>
		</dict>
		<key>AccessionNumber</key>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>tag</key>
			<string>00080050</string>
			<key>vr</key>
			<string>SH</string>
		</dict>
		<key>Modality</key>
		<dict>
			<key>level</key>
			<integer>2</integer>
			<key>tag</key>
			<string>00080060</string>
			<key>vr</key>
			<string>CS</string>
		</dict>
		<key>SeriesDescription</key>
		<dict>
			<key>level</key>
			<integer>2</integer>
			<key>tag</key>
			<string>0008103E</string>
			<key>vr</key>
			<string>LO</string>
		</dict>
		<key>SeriesNumber</key>
		<dict>
			<key>level</key>
			<integer>2</integer>
			<key>tag</key>
			<string>00200011</string>
			<key>vr</key>
			<string>IS</string>
		</dict>
		<key>SeriesInstanceUID</key>
		<dict>
			<key>level</key>
			<integer>2</integer>
			<key>tag</key>
			<string>0020000E</string>
			<key>vr</key>
			<string>UI</string>
		</dict>
		<key>SOPClassUID</key>
		<dict>
			<key>level</key>
			<integer>3</integer>
			<key>tag</key>
			<string>00080016</string>
			<key>vr</key>
			<string>UI</string>
		</dict>
		<key>SOPInstanceUID</key>
		<dict>
			<key>level</key>
			<integer>3</integer>
			<key>tag</key>
			<string>00080018</string>
			<key>vr</key>
			<string>UI</string>
		</dict>
		<key>InstanceNumber</key>
		<dict>
			<key>level</key>
			<integer>3</integer>
			<key>tag</key>
			<string>00200013</string>
			<key>vr</key>
			<string>IS</string>
		</dict>
</dict>
</plist>
