<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.opendicom.httpdicom.plist</string>
	<key>StandardOutPath</key>
	<string>/Users/Shared/httpdicom/httpdicom.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/Shared/httpdicom/httpdicom.log</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/Shared/httpdicom/bin/httpdicom</string>
		<string>INFO</string>
		<string>11111</string>
		<string>/Users/Shared/httpdicom/conf/SONO+CHP.plist</string>
	</array>
	<key>KeepAlive</key>
	<true/>
	<key>Umask</key>
	<string>0</string>
</dict>
</plist>
